<div>
    <h1>Change Manufacturer</h1>
</div>
<form class="manufacturerform" method="POST" action="/add-manufacturer">

    <div>
        <input class="manufacturer" type="text" name="value" placeholder="Manufacturer" value="{{man.value}}"/>
    </div>
    <input type="hidden" name="id" value="{{man.id}}" />
    <div class="button-div">
        <button class="button2" type="submit">Confirm Edit</button>
    </div>
</form>